  * {
            margin: 0;
            padding: 0;
        }

        html, body, div, p, ul, li, span, a {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: none;
            -moz-user-select: none;
        }

        a, button, input {
            outline: none;
        }

            input::-webkit-input-placeholder {
                color: #b1b1b1;
            }

        body {
            background-color: #2c2449;
        }

        ul, ol, li {
            list-style: none;
        }

        .hb_content {
          	display:none;
            position: relative;
            width: 100%;
            max-width: 750px;
            height: 100%;
            background-image: url(//i.46.si/fang/image/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            z-index: 1;
        }

        .hb_title {
            width: 100%;
            text-align: center;
        }

            .hb_title img {
                width: 80%;
                display: block;
                margin:auto;
            }

        .hb_money {
            width: 100%;
            /*padding-top: 6px;*/
            text-align: center;
            font-size: 16px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .number {
            font-size: 28px;
            color: #e82100;
            font-weight: bold;
            padding-left: 2px;
            padding-right: 2px;
        }

        .hb_list {
            width: 80%;
            margin: 0 auto;
            /*padding-top: 10px;*/
        }

            .hb_list ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }

            .hb_list li {
                width: 30%;
                padding-bottom: 8px;
                opacity: 0;
            }

                .hb_list li:nth-child(1), .hb_list li:nth-child(7) {
                    margin-left: -50px;
                }

                .hb_list li:nth-child(2), .hb_list li:nth-child(8) {
                    margin-top: -50px;
                }

                .hb_list li:nth-child(3), .hb_list li:nth-child(9) {
                    margin-right: 50px;
                }

                .hb_list li:nth-child(4) {
                    margin-left: 50px;
                }

                .hb_list li:nth-child(5) {
                    margin-top: -50px;
                }

                .hb_list li:nth-child(6) {
                    margin-right: -50px;
                }

                .hb_list li img {
                    width: 100%;
                }

        .hb_bot {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .hb_bot p {
                width: 55%;
                height: 35px;
                line-height: 35px;
                border: 1px solid #7d72a4;
                background-color: #2c2449;
                border-radius: 3px;
                text-align: center;
                font-size: 16px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .button_open {
            animation: changeRotate 1s 1;
            transform-style: preserve-3d;
        }

        @keyframes changeRotate {
            0% {
                transform: rotateY(0deg) scale(1.2);
            }

            100% {
                transform: rotateY(360deg) scale(1);
            }
        }

        .pop_hb {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            display: none;
            z-index: 2;
        }

        .pophb_con {
            position: absolute;
            top: 0;
            left: 15%;
            width: 75%;
            height: 350px;
            margin-top: -150px;
            padding-top: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-sizing: border-box;
            opacity: 0;
            z-index: 3;
        }

        .pophb_title {
            width: 100%;
            padding-bottom: 10px;
            font-size: 30px;
            font-weight: bold;
            color: #19bf3c;
            text-align: center;
        }

        .pophb_money {
            width: 220px;
            height: 114px;
            margin: 0 auto;
            background-image: url(//i.46.si/fang/image/money_bg.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        .get_money {
            padding-left: 75px;
            padding-top: 18px;
            font-size: 24px;
            color: #ee112a;
            font-weight: bold;
        }

            .get_money span {
                font-size: 36px;
            }

        .sm_title {
            margin-left: 75px;
            width: 110px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #cf680c;
            background-color: #fff;
            border-radius: 10px;
            text-align: center;
        }

        .button1, .button2 {
            display: block;
            width: 208px;
            height: 36px;
            margin: 10px auto 0;
            text-align: center;
            font-size: 16px;
            color: #fff;
            border-radius: 3px;
        }
        .button1 {
            background-color: #f74d2a;
            border: 1px solid #fc451f;
        }
        .button2 {
            background-color: #19bf3c;
            border: 1px solid #15ae35;
        }

        .pophb_notice {
            position: absolute;
            top: 0;
            left: 50%;
            width: 292px;
            height: 364px;
            margin-left: -146px;
            margin-top: -182px;
            background-image: url(http://i.46.si/fang/image/hb_bg.png);
            background-repeat: no-repeat;
            background-size: 100%;
            opacity: 0;
            z-index: 4;
        }

        .notice_title {
            width: 100%;
            padding-top: 60px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: #2e2e2e;
        }

        .notice_money {
            width: 100%;
            font-size: 40px;
            font-weight: bold;
            color: #ee112a;
            text-align: center;
        }

        .notice_con {
            width: 100%;
            padding-top: 45px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .notice_con span {
                color: #fff000;
                font-size: 22px;
            }

        .notice_btn {
            padding-top: 60px;
            width: 100%;
            text-align: center;
        }

            .notice_btn img {
                width: 110px;
            }

        .pop_share {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 9;
            text-align: right;
            display: none;
        }

            .pop_share img {
                width: 90%;
            }

        .notice_close {
            position: absolute;
            right: -5px;
            top: -5px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background-color: rgba(255,255,255,1);
            font-size: 18px;
            color: #2e2e2e;
            border-radius: 50%;
            text-align: center;
        }

        .allmoney {
            width: 100%;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
            color: #2e2e2e;
        }

            .allmoney span {
                color: #ee112a;
                font-weight: bold;
            }

        .weui_dialog {
            position: fixed;
            z-index: 999999999;
            width: 85%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background-color: #fafafc;
            text-align: center;
            border-radius: 3px;
            font-family: arial
        }

        .weui_mask {
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.6)
        }

        .weui_dialog_hd {
            padding: 0em 0 .3em
        }

        .weui_dialog_bd {
            padding: 0 20px;
            font-size: 16px;
            color: #888;
            word-wrap: break-word;
            word-break: break-all
        }

        .weui_dialog_ft {
            position: relative;
            line-height: 42px;
            margin-top: 20px;
            font-size: 17px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex
        }

            .weui_dialog_ft:after {
                content: " ";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 1px;
                border-top: 1px solid #d5d5d6;
                color: #d5d5d6;
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5)
            }

        .weui_btn_dialog.primary {
            color: #0bb20c
        }

        .weui_dialog_ft a {
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            color: #3cc51f;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent
        }

        .weui_dialog_title {
            font-weight: 400;
            font-size: 17px;
            color: #000
        }